.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title_large {
  font-size: 100px;
  line-height: 1;
  letter-spacing: 0.3em;
}

.title_medium {
  font-size: 40px;
  line-height: 100%;
}

.title_small {
  font-size: 22px;
  line-height: 120%;
}

.text-body {
  font-weight: 400;
  line-height: 120%;
}

.link {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.link_underline:not(.link_active) {
  text-decoration: underline;
}

.link_large {
  font-size: 20px;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  padding: 92px 0;
}

.header__links-list {
  display: flex;
  justify-self: start;
  gap: 32px;
  margin: -8px 0 0 50px;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.header__links-list-item {
  position: relative;
}

.header__links-list-item:not(:first-child)::before {
  content: "○";
  position: absolute;
  top: 50%;
  left: -16px;
  color: black;
  font-size: 14px;
  transform: translateY(-50%);
}

.header__link {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
}

.header__links-list-item:not(.header__link_active) .header__link {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 130px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  margin-right: 88px;
  margin-bottom: 4px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  white-space: nowrap;
}

.address p {
  line-height: 24.3px;
}

.address a {
  margin-bottom: 5px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  padding: 0;
  height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 107px;
  padding: 0px 50px 50px;
  color: white;
  margin-top: -100px;
}

.letter-spacing-extended {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  text-wrap: nowrap;
  word-spacing: 0.85em;
}

.aligned-text {
  position: relative;
  z-index: 2;
  padding: 165px 50px 207px;
  width: 100%;
  color: white;
}

.accent-span {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin: 45px 330.5px 0px;
}

.aligned-text_right {
  text-align: right;
  margin-left: 615px;
  margin-top: 30px;
}

.button {
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button_outline {
  border: 1px solid white;
  padding: 12px 32px 15px 31px;
  color: white;
  background-color: transparent;
  text-wrap: nowrap;
}

.lots {
  margin: 180px auto 120px;
}

.lots__heading {
  margin-left: 43px;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 34px;
  margin-left: 5px;
  list-style: none;
}

.card {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_paint {
  background-image: url("../images/card-lot-03.jpg");
}

.card__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 596px;
  padding: 50px 40px;
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
}

.card__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.card__description {
  margin: 0;
  font-size: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 34px;
  margin-left: 42px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 315px 1fr;
  align-items: start;
  margin-top: 120px;
}

.about__logo-column {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 50px;
  border-radius: 50%;
  background-color: black;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.about__column {
  margin-top: 135px;
  margin-left: 48px;
}

.about__heading {
  justify-self: start;
  align-self: start;
  width: 100%;
  margin-top: 3px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.about__paragraph-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 105px;
}

.about__paragraph {
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  margin-top: 180px;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  margin: 0;
}

.footer__address a {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 6px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer__links-list-item:not(.footer__link_active) .footer__link {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__link {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  white-space: nowrap;
}

.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
